{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "src": "./dist"
                }
            }
        ]
    ]
}
